# Welcome to the first practical course

In the follwing we will check the installation of some python libraries

In [2]:
import numpy # Scientific computing
import cv2 # Image processing 
import sklearn # Machine Learning
import scipy # Scientific stuff
import torch # Deep Learning
import torchvision # Deep Learning and computer vision
import matplotlib # Plotting stuff

If a module is missing, try to install it. This works via the shell using pip/pip3/conda. It might be useful to create a virtual environment for the practical course and especially for the later project. This is a small Python environment where you can install packages. This works very easy with conda or virtualenv (virtualenv: python3 -m venv /path/to/new/virtual/environment). More information here: https://docs.python.org/3/library/venv.html

# Check for hardware acceleration

In [3]:
print(f'Hardware acceleration is {"available" if torch.cuda.is_available() else "not available"}')

Hardware acceleration is not available

In [2]:
import pandas

In [3]:
data = pandas.read_pickle("annotation_frame.p")
data

              filename  max_x  max_y  min_x  min_y  label
0      AgNOR_0495.tiff     26     41      4     15      1
1      AgNOR_0495.tiff     71     23     42      0      2
2      AgNOR_0495.tiff    133     61    104     37      1
3      AgNOR_0495.tiff    143    117    121     88      2
4      AgNOR_0495.tiff    224     37    199     12      1
...                ...    ...    ...    ...    ...    ...
19859  AgNOR_0677.tiff    362    994    335    969      2
19860  AgNOR_0677.tiff   1273    923   1250    899      0
19861  AgNOR_0677.tiff    787   1121    758   1093      0
19862  AgNOR_0677.tiff    780   1159    759   1138      0
19863  AgNOR_0677.tiff    585   1087    560   1061      0

[19734 rows x 6 columns]

In [5]:
unique_values = data['label'].value_counts()
for value, count in unique_values.items():
    print(f"{value}: {count}")
    
pandas.unique(data['filename'])
# pandas.unique_values(data['label'])

1: 8152
0: 4461
2: 4003
3: 1628
4: 734
5: 356
6: 193
7: 78
8: 47
9: 28
11: 28
10: 26

array(['AgNOR_0495.tiff', 'AgNOR_2906.tiff', 'AgNOR_9845.tiff',
       'AgNOR_2876.tiff', 'AgNOR_8581.tiff', 'AgNOR_0519.tiff',
       'AgNOR_0620.tiff', 'AgNOR_0672.tiff', 'AgNOR_2735.tiff',
       'AgNOR_8583.tiff', 'AgNOR_0531.tiff', 'AgNOR_2751.tiff',
       'AgNOR_2862.tiff', 'AgNOR_2999.tiff', 'AgNOR_0561.tiff',
       'AgNOR_2864.tiff', 'AgNOR_2783.tiff', 'AgNOR_2685.tiff',
       'AgNOR_2865.tiff', 'AgNOR_8654.tiff', 'AgNOR_2916.tiff',
       'AgNOR_2921.tiff', 'AgNOR_0674.tiff', 'AgNOR_2852.tiff',
       'AgNOR_0677.tiff'], dtype=object)